<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="myForm">
  <h3>Login</h3>

  <label for="username">Usuario</label>
  <input
        type="text"
        placeholder="Usuario"
        id="username"
        formControlName="user"
  >
  <div class="error" *ngIf="invalidField('user')" >
    <span  *ngIf="myForm.controls?.['user']?.errors?.['required']" > Campo obligatorio </span>
  </div>

  <label for="password">Password</label>
  <input
        type="password"
        placeholder="Password"
        id="password"
        formControlName="password"
  >
  <div class="error" *ngIf="invalidField('password')" >
    <span  *ngIf="myForm.controls?.['password']?.errors?.['required']" > Campo obligatorio </span>
  </div>
  <button [disabled]="submitted" (click)="save()" nz-button nzType="primary">Ingresar</button>
  <span class="loader" *ngIf="loader"></span>
  <div *ngIf="showError" class="error-message">
    <p class="error">Usuario o contraseña incorrectos</p>
  </div>

</form>
