<button [routerLink]="['/login']" class="logout" nz-button nzType="primary" nzDanger>Salir</button>
<div class="container-table">
  <nz-table #Table [nzData]="data">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Genero</th>
        <th>Profesión</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of Table.data">
        <td>{{data.user}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.age}}</td>
        <td>{{data.gender}}</td>
        <td>{{data.profession}}</td>
        <td>
          <button [routerLink]="['/table',data?.id|| undefined]" nz-button nzType="primary">Detalles</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

